# Waveshare EPD 2in9 V2 E-paper display module configuration options
# https://www.waveshare.com/wiki/2.9inch_e-Paper_Module

menuconfig WAVESHARE_EPD_2IN9_V2
    bool "Waveshare EPD 2in9 V2 E-paper display module"
    depends on (SPI && GPIO)
    help
        Enable SPI and GPIO based drivers for Waveshare EPD 2in9 V2 E-paper display module

module = EPD_2IN9_V2
module-str = EPD_2IN9_V2
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"